<!-- <h1>Insert Page...</h1> -->
{% extends 'master.html' %}
{% include 'header.html' %}

{% block title %} {% endblock %}

{% block body %}
    <div class="container">
        <form method="post" action="">
            <table class="table">
                <tr>
                    <td> First Name </td>
                    <td><input type="text" name="first_name" class="forn-control" /></td>
                </tr>
                <tr>
                    <td> Last Name </td>
                    <td><input type="text" name="last_name" class="forn-control" /></td>
                </tr>
                <tr>
                    <td> Email </td>
                    <td><input type="email" name="email" class="forn-control" /></td>
                </tr>
                <tr>
                    <td> Password </td>
                    <td><input type="password" name="password" class="forn-control" /></td>
                </tr>
                <tr>
                    <td> Gender </td>
                    <td>
                        Male: <input type="radio" name="gender" value="male" />
                        Female: <input type="radio" name="gender" value="male" />
                    </td>
                </tr>
                <tr>
                    <td> Occupations </td>
                    <td>
                        Chef: <input type="checkbox",name="hobbies" value="Chef" />
                        Accountant: <input type="checkbox" name="hobbies" value="accountant" />
                        Developer: <input type="checkbox" name="hobbies" value="Developer" />
                        Actor: <input type="checkbox" name="hobbies" value="Actor" />
                        Doctor: <input type="checkbox" name="hobbies" value="doctor" />
                    </td>
                </tr>
                <tr>
                    <td> Country </td>
                    <td>
                        <select name="country" class="form-control">
                            <option value="None"> None </option>
                            <option value="Uganda"> Uganda </option>
                            <option value="Tanzania"> Tanzania </option>
                            <option value="Kenya"> Kenya </option>
                            <option value="Rwanda"> Rwanda </option>
                            <option value="Burundi"> Burundi </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="submit" value="submit" class="btn btn-warning" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}